*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    background-color: #131415;
	width: 100%;
}

/*CONTAINER*/
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
	box-sizing: border-box;
}
/*SECTION-HEADER*/
.section-header{
	display: flex;
	justify-content: center;
	margin-top: 13rem;
	margin-bottom: 3rem;
}
.section-header h1{
	color: #C6C6C6;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 3rem;
}
/*HEADER*/
.header{
	background-image: url(./imges/Background.png);
	background-size: cover;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
}
.header-title{
	align-items: center;
}
.header-title h2{
	color: #FFF;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 3rem;
	padding-top: 10rem;
}
.header-nav{
    background: rgba(32, 29, 29, 0.5);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
	z-index: 1;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-info{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin-top: -35rem;
	align-items: center;
	gap: 20px;
	
}
.logo img{
	width: 100%;
	max-width: 150px;
}
.nav{
    display: flex;
    list-style: none;
    gap: 40px;
	align-items: center;
}
.nav__link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 2rem;
    font-family: 'Raleway';
	font-weight: 700;
	transition: all .4s;
}
.icon{
	width: 2.5rem;
	margin: 0 .8rem;
}
.nav__link:hover{
	color: #fff;
}
/*FORM*/
.form{
	width: 100%;
	max-width: 300px;
	padding: 1.5rem;
	background: rgba(62, 60, 60, 0.5);
	height: 300px;
	margin-top: 5.3rem;
}
.form__title{
	color: #ccc;
	font-size: 1.5rem;
	padding:1rem auto;
	font-family: 'Raleway';
	font-weight: 700;
	margin-left: 4rem;
	
}
.form__name{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	font-size: 1.2rem;
	height: 2rem;
	color: #ccc;
	border: none;
	margin-bottom: .5rem;
	margin-top: 1rem;
	width: 100%;
}
.form__number{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	color: #ccc;
	height: 2rem;
	font-size: 1.2rem;
	border: none;
	margin-bottom: 0.5rem;
	width: 100%;
}
.form__message{
	background: rgba(0, 0, 0, 0.5);
	border-radius:5px;
	font-size: 1.2rem;
	border: none;
	color:#ccc;
	resize: none;
	width: 100%;
}
.form__btn{
	width: 100%;
	border-radius:5px;
	font-size: 1.2rem;
	height: 2rem;
	font-family: 'Raleway';
	font-weight: 700;

	transition: all .4s;
}
.form__btn:hover{
	color:#fff;
	background-color:#2d8bdd ;
}
/*Bestsellers*/
.bestsellers{
	width:100%;
	max-width: 1000px;
	height:300px;
	display: block;
	overflow:hidden;
	position:relative;
	margin-left: 0;
	margin-top: -3rem;
	align-items: center;	
}
.bestsellers span{
	color: #C6C6C6;
	font-size: 1.5rem;
	font-family: 'Raleway';
	font-weight: bold;
}
.bestsellers__photo{
	width: 100%;
	max-width: 1000px;
	height: 305px;
	margin-top: 1rem;
}
.bestsellers__photo{
	position:absolute;
	animation:round 16s infinite;
	opacity:0;
	width:100%}
@keyframes round {
25%{opacity:0}
40%{opacity:1}
}
img:nth-child(1){animation-delay:0s}
img:nth-child(2){animation-delay:4s}
img:nth-child(3){animation-delay:8s}
img:nth-child(4){animation-delay:12s}
@media(min-width:0px) and (max-width:320px) {
.bestsellers{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.bestsellers{width:80%;height:190px}
}



/*Cards*/
.cards{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
}
.card{
	display: block;
	box-sizing: border-box;
	background-color: #262A2E;
	border-radius: 10px;
	width: 220px;
	transition: 1s;
	padding:0;
}
.card__img{
width: 100%;
max-width: 220px;
height: 250px;
align-items: center;
}
@media (max-width: 900px){
	.cards__one-card{
	  width: calc((100% - 1rem) / 2);
	}
  }
  @media (max-width: 600px){
	.cards__one-card{
	  width: 100%;
	}
}
.card__title{
color: #FFF;
font-family: 'Open Sans';
font-weight: 600;
font-size: .8rem;
padding: .3rem 1rem;
}
.card__text{
color: rgba(255, 255, 255, 0.8);
font-family: 'Open Sans';
font-size: .7rem;
font-weight: 300;
padding: 0 1rem;
margin-bottom: 1rem;
height: 50px;
}
.card__btn{
padding:.6rem 1rem;
background: #4D5965;
border-radius: 15px;
text-decoration: none;
color: #FFF;
display: block;
width: 150px;
text-align: center;
font-family: 'Raleway';
font-style: normal;
font-weight: 300;
margin: 1rem auto;
}
.card__btn_bottom{
	margin-top: 2rem;
}
.card__btn:hover{
	color:#fff;
	background-color:#2d8bdd ;
}
/*ACCORDION*/
.block{
    margin: 3rem auto ;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.block__title {
    letter-spacing: 2px;
	font-size: 1.25rem;
    position: relative;
    cursor: pointer;
	color: #fff;
	font-family: 'Raleway';
	font-weight: 300;
	text-align: center;
}

.block__title::before {
    content:url(./imges/accordion.png);
    position: absolute;
    top: 2rem;
	margin-top: .7rem;
    transition: all 0.4s eaes 0s;
}


.block__title.active::before {
    transform: rotate(-180deg); 
	top: 35.5rem;
}
.block__text {
    display: none;
	background: #262A2E;
	border-radius: 10px;
    padding: 2rem;
	color:#FFF;
	width: 320px;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 500;
	margin-top: .5rem;
}
.block__text p{
	margin: 1rem;
}
/*ABOUT*/
.about{
	display:flex;
	flex-direction: column;
	justify-content: center;
}
/*Achievements*/
.achievements{
	display: flex;
	justify-content: center;
	gap: 2rem;
	width: 100%;
	margin-top: 5rem;
}
.achievements-item{
	width: 100%;
	max-width: 150px;
	padding: 1rem;
	text-align: center;
	border-right: 2px solid #fff;
	padding-right: 2rem;
}
.achievements-item:last-child{
	border-right: none;
}

.achievements-item__title{
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 2.4rem;
	color: #fff;
}
.achievements-item__text{
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 1.2rem;
	color: #fff;
	margin-top: 1rem;
}

/*CONTACTS*/
.contacts{
display: flex;
justify-content: center;
width: 100%;
gap: 8rem;
margin-top: 2rem;
}
.contacts-address{
	display: flex;
	align-items: center;
	text-decoration: none;
}
.contacts-address__text{
	font-size: 1.1rem;
	color: #fff;
	font-family: 'Raleway';
	font-weight: 600;
}
.contacts-address__text:hover{
	color: #2d8bdd;
}

.contacts-tel{
	text-decoration: none;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Raleway';
	font-weight: 600;
}
.contacts-tel:hover{
	color: #2d8bdd;
}
.icon-tel{
	margin: -0.8rem 1rem ;
}
/*MAP*/
map{
	display:flex;
	margin: 2rem;
	justify-content: center;
}
